<h1 style="float:left; margin-left: 25%;"> Students Filtered List </h1>

<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
<div style="float:right;position: relative; top:35px; margin-right: 25%;">
    From: <input style="width: 55px;" type = "number" name="from" value="" ngModel /> &nbsp;
    To: <input style="width: 55px;"type = "number" name="to" value="" ngModel /> &nbsp;
    <input type = "submit" value = "Filter" style="width:110px;">
</div>
</form>


<div id="studentdiv">
  <table id="student">
    <tr>
      <th *ngFor = "let column of header_column">
      {{column}}
      </th>
    </tr>
  </table>
</div>

<div id="datadiv">
  <table id="data">
    <tr *ngFor = "let row of students" >
      <td *ngFor = "let column of headers" >
        {{row[column]}}
      </td>
    </tr>
  </table>
</div>
