h1 {
    text-align: center;
    color: rgb(43, 137, 226);
}

th {
    width: 16.66% ;
}

tr {
    width: 100%;
}

td {
    width: 16.66% ;
    text-align: center;
}

table{
    width: 100%;
    margin-bottom: 10px;
}

#datadiv{
    height: 65vh;
    overflow: auto;   
    width: 100%;
}

#studentdiv{
    width: 99.3%;
}

#data, #student {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #data td, #student th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #data tr:nth-child(even){background-color: #f2f2f2;}
  
  #data tr:hover {background-color: #ddd;}
  
  #student th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(43, 137, 226);;
    color: white;
  } 