<h1> Students Table</h1>
<hr>

<div id="studentdiv">
  <table id="student">
    <tr>
      <th *ngFor = "let column of header_column">
      {{column}}
      </th>
    </tr>
  </table>
</div>

<div id="datadiv">
  <table id="data">
    <tr *ngFor = "let row of students" >
      <td *ngFor = "let column of headers" >
        {{row[column]}}
      </td>
    </tr>
  </table>
</div>
